<template>
    <div class="container category">
        <router-link :to="{ name: 'categories.index' }">
            <div class="logo" v-if="store.logo">
                <img :src="'storage/' + store.logo" alt="">
            </div>
        </router-link>
        <div class="back"></div>
        <div class="title">
            {{ category.name }}
        </div>

        <div class="media-list">
            <div @click.prevent="selectMedia(media)" :class="{ active: currentMedia.id === media.id }" class="media" v-for="media in category.media">
                <div class="image"><img :src="'/storage/' + media.image" alt=""></div>
                <div class="name" :style="{color: store.button_text_color, backgroundColor: store.button_color}">{{ media.title }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                category: {
                    media: []
                },
                currentMedia: {}
            }
        },
        computed: {
            store() { return this.$store.state.store }
        },
        created () {
            const categoryId = this.$route.params.id

            axios.get(`/api/categories/${categoryId}/media`)
                .then(res => {
                    this.category = res.data.data
                })
        },
        methods: {
            selectMedia(media) {
                const source = media.source || media.image

                console.log('Changing media to: ' + source)
                this.currentMedia = media;
                socket.emit('media-changed', source)
            }
        }
    }
</script>
